.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.slider {
    position: absolute;
    width: clamp(120px, 16vw, 180px);
    height: clamp(150px, 15vw, 225px);
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    z-index: 2;
    transition: transform 0.6s ease-in-out;
}

.item {
    position: absolute;
    inset: 0 0 0 0;
    transition: transform 0.8s ease-in-out;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(clamp(200px, 30vw, 350px));
    
}


.center {
    position: absolute;
    inset: 0 0 0 0;
    backface-visibility: hidden;
    transition: transform 0.8s ease-in-out;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(clamp(180px, 30vw, 350px)) 
        scale(clamp(1.1, 1.2, 1.3));
    border: 2px solid red;
}

